.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #efeded;
  width: 100%;
}

.nav__span {
  display: inline-flex;
}

.navbar__logo {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  align-self: center;
}

.navbar__name {
  color: #000;
  padding-left: 10px;
  font-family: "DM Sans", sans-serif;
  font-size: 25px;
  font-style: none;
  font-weight: 900;
  line-height: normal;
}
